.card {
  position: relative;
  font-family: 'Segoe WP N';
  border-bottom: 1px solid rgba(000, 000, 000, 0.2);
  padding-top: 18px;
}

.card-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border-radius: 50%;
  width: 136px;
  height: 136px;
}

.card-title {
  font-size: 34px;
  color: #5094f2;
}

.card-description {
  color: #909090;
  font-size: 19px;
}

.card-header, .card-body {
  text-align: center;
  padding-bottom: 28px;
}

.card-icon.icon-Shape_3 {
  background-color: #5094f2;
}

.card-icon.icon-Shape_6 {
  background-color: #d94748;
}

.card-icon.icon-Shape_5 {
  background-color: #ebbb11;
}

@media (min-width: 640px) {
 .card-body {
    text-align: left;
  }
}

@media (min-width: 960px) {
  .card {
    border-bottom: 0;
    padding: 0;
  }      

  .card-icon {
    font-size: 100px;
    width: 186px;
    height: 186px;
  }

  .card-body {
    text-align: center;
  }
}
