.grid {
  display:flex;
  flex-wrap: wrap;
}

.grid-gap-small {
  margin: 0 -13px;
}

.grid-gap-small > .grid-item {
  padding: 0 13px;
}

.grid-gap-small {
  margin: 0 -13px;
}

.grid-gap-small > .grid-item {
  padding: 0 13px;
}

.grid-gap-medium {
  margin: 0 -40px;
}

.grid-gap-medium > .grid-item {
  padding: 0 40px;
}

.grid-gap-large {
  margin: 0 -50px;
}

.grid-gap-large > .grid-item {
  padding: 0 50px;
}

.grid-gap-xlarge {
  margin: 0 -65px;
}

.grid-gap-xlarge > .grid-item {
  padding: 0 65px;
}

@media (min-width: 640px) {
  .grid-sm {
    margin: 0;
  }
  
  .grid-sm > .grig-item {
    padding: 0;
  }
  
  .grid-gap-small-sm {
    margin: 0 -13px;
  }
  
  .grid-gap-small-sm > .grig-item {
    padding: 0 13px;
  }

  .grid-gap-medium-sm {
    margin: 0 -32.5px;
  }
  
  .grid-gap-medium-sm > .grid-item {
    padding: 0 32.5px;
  }  
  
  .grid-gap-large-sm {
    margin: 0 -50px;
  }
  
  .grid-gap-large-sm > .grid-item {
    padding: 0 50px;
  }
}

@media (min-width: 960px) {
  .grid-md {
    margin: 0;
  }
  
  .grid-md > .grig-item {
    padding: 0;
  }

  .grid-gap-large-md {
    margin: 0 -65px;
  }
  
  .grid-gap-large-md > .grid-item {
    padding: 0 65px;
  }
}

@media (min-width: 1200px) {
  .grid-gap-xlarge-lg {
    margin: 0 -65px;
  }
  
  .grid-gap-xlarge-lg > .grid-item {
    padding: 0 65px;
  }

  .grid-gap-medium-lg {
    margin: 0 -40px;
  }
  
  .grid-gap-medium-lg > .grid-item {
    padding: 0 40px;
  }
}
