.section {
  position: relative;  
  padding: 20px 0 0 0;
}

.section-title {
  font-family: 'Segoe WP N';
  font-weight: 300;
}

.section-subtitle {
  font-family: 'Segoe WP N';
}

.section-description {
  font-family: 'Segoe WP N';
  font-size: 23px;
  line-height: 35.94px;
}

.section-shopping .section-image .image {
  max-height: 162px;
  object-fit: contain;
}

.section-hero .section-title {
  font-size: 31px;
  line-height: 30px;
  margin: 0;
}


.section-hero .section-image .image {
  max-height: 223px;
  -o-object-fit: contain;
     object-fit: contain;
}


.section-image {
  margin: 0;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.section-hero .section-description {
  margin-bottom: 33px;
  font-size: 23px;
  font-weight: 300;
  line-height: 35.94px;
}

.section-hero .section-top,
.section-hero .section-middle {
  text-align: center;
}

.section-hero .section-middle {
  margin-bottom: 25px;
}

.section-decoration {
  display: none;
  height: 10px;
  margin: 0;
  width: 100%;
  background-image: url(../../images/Slice_3.png);
  background-repeat: repeat-x, no-repeat;
}

.section-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
}

.section-background img{
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
  z-index: -2;
}

.section-foreground {
  color: #fff;
}

.section-cards {
  padding-left: 30px;
  padding-right: 30px;
}


.section-shopping .section-title,
.section-shopping .section-subtitle {
  font-size: 32px;
  color: #6f7173;
  margin-top: 20px;
}

.section-shopping .section-title {
  text-align: center;
}

.section-shopping .section-subtitle {
  font-size: 26px;
}

.section-shopping .section-description {
  color: #909090;
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 53px;
}

.section-footer .section-description {
  color: #909090;
  font-size: 15px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.section-footer {
  padding: 35px 0;
}

.footer {
  border-top: 1px solid rgba(000, 000, 000, 0.2);
}

@media (min-width: 480px) {
  .section-image {
    display: block;
  }
}

@media (min-width: 640px) {
  .section-hero .section-middle {
    text-align: left;
  }

  .section-shopping-bottom {
    margin: 0 45px;
  }    

  .section-shopping .section-title {
    font-size: 42px;
  }

  .section-shopping .section-subtitle {
    font-size: 34px;
  }  

  .section-shopping .section-description {
    font-size: 17px;
  }  

  .section-cards {
    padding-left: 0;
    padding-right: 0;
  }
  
}

@media (min-width: 960px) {


  .section-decoration {
    display: block;
  }

  .section-shopping-top {
    padding-top: 35px;
  }

  .section-shopping-bottom {
    padding-top: 92px;
    margin: 0;
  }

  .section-shopping .section-subtitle {
    margin-bottom: 15px;
    font-size: 26px;
  }

  .section-header {
    padding-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .section-shopping .section-image .image {
    max-height: 279px;
  }
  
  .section-hero .section-image .image {
    max-height: 446px;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .section-hero .section-image {
    margin-top: 15px;
  }

  .section-hero .section-middle {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    
  .section-cards {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
  }
}

@media (min-width: 1200px) {
  .section-hero .section-title {
    font-size: 42px;
    line-height: 1;
  }

  .section-hero .section-description {
  font-size: 26px;
  }

  .section-header {
    padding-top: 25px;
  }

  .section-cards {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 55px;
  }
}
